<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="./styles2.css"/>
    </head>
 <body class = "backgroundColor">
    <!-- This code creates a navigiation bar -->
    <div id = "navbarMenu">
    <nav class="navbar navbar-light" style="background-color: white;">
      <nav class="navbar navbar-expand-lg" id = "mynav">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="./index.html">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./recipes.html">Recipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./reviews.html">Reviews</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./meal.html">Meal of The Day</a>
            </li>
            <li><img src="./images/coffee.png" width = 30px height = 30px></li>
          </ul>
        </div>
      </nav>
    </nav>
    </div>
      <!-- END of navigation bar -->
      <div class ="bodyMargins">
      <br>
        <h1 class = "BlogName">A Blend Of Sweet</h1>
        <h2 id = "titleOfPage">CONTACT INFORMATION</h2>
        <h3 id = "date">19, September 2019 | 9:28 PM</h3>
        <br>
        <br>
        
        <h1 id = "headerInContact"> Contact Us! </h1><hr>
        <p>We definitely believe that food is the way to one's heart. There is just something exciting about eating something so good, you just have to share it. That is what we want to do with you all!</p>
         <img src="./images/betty.png" width=100%></img>
        <hr>
        <p>
           Let us know other places we should try or other receipes you would like to see!  
           <br><a href="mailto:foodforthought@gmail.com">Email us</a> your ideas or leave a comment below! <hr> 
        </p>
 <div id="app">
  <div class="commentsection">
    <h3>Add a Comment</h3>
      <form v-on:submit.prevent="addComment">
        <input v-model="addedName" placeholder="Name"></p>
        <textarea v-model="addedComment"></textarea>
        <br />
        <button type="submit">Comment</button>
      </form>
      <hr><h3>Comments</h3>
      <div v-for="comment in comments[number]">
        <p>{{comment.text}}</p>
        <p><i>-- {{comment.author}}</i></p>
        <p> {{comment.time}}</p>
      </div>
  </div>

      <hr>
      <div id = "addressbody">
      <p>
        <em>Address: 300 E, 450 N, Provo, UT 84602</em>
      </p>
      <a href ="./contact.html"><i>Contact us</i></a>
      </div>
      <!-- Github footer-->
  <div class = "footer">
  <a href = "https://github.com/sben502/creative3"><u>GitHub</u></a>
  </div>
  </div>
  </div>
  <!-- Interactive java script code for website -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
  <script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
  <script src ="./script.js"></script>

  </body>
</html>